

/* html and body - base styling, fonts, etc. */

html {
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $background;
  color: $base-font-color;
  box-sizing: border-box;
}

/* box-sizing to border-box for all! source: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex; /* flex layout using information from the tutorial at https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes */
  display: -webkit-flex; /* Safari */
  -webkit-flex-flow: column; /* Safari 6.1+ */
  flex-flow: column;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
}

