
/* various smaller elements, one-off items, highlights, etc. */

.highlight {
  background-color: $color-a1;
  color: $white-font-color;
}

.top-link {
  display: none;
}

.block:target {
  @extend .highlight;

  .top-link {
    display: block;
  }
}

.dyslexic {
  font-family: OpenDyslexic, sans-serif;
}

a {
  color: $color-a1;
  text-decoration: none;
  padding: 3px;
}

.highlight a {
  color: $color-a4;
}

a:active, a:hover {
  background-color: $color-a3;
}

.highlight a:active, .highlight a:hover {
  background-color: $color-a3;
}

/* to ensure long urls (as in references) get forced line breaks and don't destroy page layout (source: https://perishablepress.com/wrapping-content/) */
a {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}

.page-title {
  font-size: 1.9rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

/* quick class to align text right */
.right {
  text-align: right;
}


/* table element styling */

table {
  width: 100%;
  text-align: left;
}

td, th {
  text-align: left;
  padding: 0.3em;
  border: 2px solid $color-a3;
  border-collapse: collapse;
}

/* right align row headers */
tbody th {
  @extend .right;
}

caption {
  padding: 0.3em;
}

/* make borders fancy! */
tbody > tr:last-child * {
  border-bottom: 0;
}
thead > tr:first-child * {
  border-top: 0;
}

td:last-child, th:last-child {
  border-right: 0;
}
td:first-child, th:first-child {
  border-left: 0;
}

.block-image {
  width: 100%;
  margin: 0;
  background-color: $color-a5;
  color: $color;
  padding: 0;

  figcaption {
    padding: 0.3em;
    font-style: italic;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

