

/* various smaller elements, one-off items, highlights, 'classes' for reuse or @extend, etc. */

/* for highlighting blocks - just changes colors */
.highlight {
  background-color: $color-a1;
  color: $white-font-color;
}

/* hide the 'click to return to top' link unless specifically asked for */
.top-link {
  display: none;
}

/* elements that want to be hidden */
.hidden {
  display: none;
}

/* reference list */

.references {
  list-style: none;

  li {
    text-indent: 1em;
  }
}

.references > li:target {
  @extend .highlight;
}


/* sections that need to be dyslexic-friendly */
.dyslexic {
  font-family: OpenDyslexic, sans-serif;
}

/* add this class to whatever needs to be right-aligned */
.right {
  text-align: right;
}


/* set font sizes for titles and headings */

.page-title {
  font-size: 1.9rem;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

.page-title, h1, h2, h3 {
  font-weight: 500;
}

/* .block-image expected to be an element of type 'figure'
 * sets a standard look for responsive size images with captions
 * note: this is 100% width - do something else for images that need to be wrapped with text
 */
.block-image {
  width: 100%;
  margin: 0;
  background-color: $color-a5;
  color: $color;
  padding: 0;

  figcaption {
    padding: 0.3em;
    font-style: italic;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

/* style pre blocks */
pre {
  display: block;
  background-color: $background;
  color: $base-font-color;
  padding: 10px;
}


/*
 * various element styles in relation to the quizzes
 */
.quiz-canvas {
  display: none;
  // width: 100%;
  // height: auto;
  margin: 0;
  padding: 0;
  background-color: $color-a2; //transparent;
}

fieldset {
  background-color: $color-a4;
  margin-bottom: 10px;
}

legend {
  @extend h3;
}

// neater margins on form buttons
button, input[type=button], input[type=reset], input[type=submit] {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.quiz-explanation {
  margin-top: 5px;
  background-color: #FCF2D8;
  padding-left: 10px;
  padding-right: 10px;
}

.quiz-feedback {
  background-color: #FCF2D8;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

noscript {
  color: #AA1111;
}

