
/* Header */

header {
  box-shadow: 0 0 10px $shadow-color;
}


/* Navigation bar */

.site-nav {
}

.nav-item {
  margin: 10px;
  display: block;
  text-decoration: none;
}

.nav-item:hover {
  background-color: $color;
  color: $background;
}
  

/* Footer */

footer {
  width: 100%;
  text-align: center;
  clear: both;
  box-shadow: 0 0 10px $shadow-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

