
/* Header */

header {
  box-shadow: 0 0 10px $shadow-color;
}


/* Navigation bar */

.site-nav {
  font-size: 1.3rem;
  padding: 20px;
  text-align: center;
}

.nav-item {
  color: $color-a1;
  background-color: $color-a4;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.nav-item:hover {
  @extend .highlight;
}

@media (max-width: 600px) {
  .nav-item {
    display: block;
  }
}
  

/* Footer */

footer {
  width: 100%;
  text-align: center;
  clear: both;
  box-shadow: 0 0 10px $shadow-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer, header {
  background-color: $color-a5;
  color: $color-contrast;
}

