

/* media queries for responsiveness */

@media (min-width: 600px) {
  .block {
    width: 550px;
  }

  .nav-item {
  display: inline-block;
  }
}

@media (min-width: 1020px) {

  /* note: this doesn't override .wide being 100%, because that has higher specificity */
  .page-content > *, .header-wrapper {
    width: 1000px;
  }

  .block-box {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
  }
  .block {
    padding: 20px;
    margin: 20px;
    width: 400px;
  }

  #site-title {
    float: left;
  }

  #site-nav {
    float: right;
  }

  #site-title, #site-nav {
    display: inline-block;
    padding-bottom: 20px;
  }
}

